/******************************************************************************\
|                                                                              |
|                                branding.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Morgridge Institute for Research (MIR)        |
\******************************************************************************/

//
// branding colors
//

$brand-primary: #B90014;
$brand-secondary: $brand-primary;

a {
	color: $brand-primary;

	&:hover {
		color: red;
	}
}

.brand {
	font-family: 'Optima', sans-serif;
	font-weight: normal !important;
	text-transform: uppercase;
}

.tagline {
	font-style: italic;
	margin: 20px;
}

h1.brand {
	font-size: 3em;
}

.navbar .brand {
	font-size: 1em;
}