/******************************************************************************\
|                                                                              |
|                                 navbar.scss                                  |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Morgridge Institute for Research (MIR)        |
\******************************************************************************/

.navbar {
	color: white;
	background-color: $brand-primary;
	// font-family: 'TradeGothic', sans-serif;
	font-family: sans-serif;
	// font-weight: bold;
	padding: 5px;

	a, a:hover {
		color: white;
	}

	.navbar-brand {
		font-weight: bold;
		img {
			height: 20px;
		}
	}
	
	.nav-pills {
		> li {
			> a {
				padding: .25rem .5rem;
				color: white;
				background-color: $brand-primary;

				&:hover {
					// color: white;
					// background-color: darken($brand-primary, 10%);
					color: $brand-primary;
					background-color: white;	
				}

				&.active, &.active:hover {
					color: $brand-primary;
					background-color: white;
					// background-color: #2c2c2c;
				}
			}
		}

		//
		// pill spacing
		//

		> li + li {
			margin-left: 2px;
		}
	}
}