/******************************************************************************\
|                                                                              |
|                                  pages.scss                                  |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Morgridge Institute for Research (MIR)        |
\******************************************************************************/

.navbar + .container {
	margin-top: 25px;
}

.row {
	margin-bottom: 10px;
}

.card {
	background-color: $ultra-light-grey;
	border: none;
	padding: 10px 20px;

	h2 {
		margin: 0;
		color: red;
	}

	p {
		display: block;
		margin-top: 10px;
		min-height: 6em;
	}

	img {
		max-width: 100%;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
	}
}

body {
	font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif;
	font-size: 16px;
	color: grey;
}

em {
	color: $brand-primary;
	// font-weight: bold;
	font-style: normal;
}

.footer {
	margin-top: 15px;
	
	.container {
		color: black;
		border-top: 5px solid $brand-primary;
		padding-top: 15px;
		padding-bottom: 15px;

		.branding i {
			color: $brand-primary;
			margin: 0 5px;
		}
	}

	span + span {
		margin: 0 5px;
	}
}

.btn, .btn-lg {
	padding: 5px 10px;
}