@font-face {
    font-family: 'TradeGothic';
    src: url('TradeGothic.eot');
    src: url('TradeGothic.eot?#iefix') format('embedded-opentype'),
         url('TradeGothic.ttf') format('truetype'),
         url('TradeGothic.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('TradeGothic-Bold.eot');
    src: url('TradeGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('TradeGothic-Bold.ttf') format('truetype'),
         url('TradeGothic-Bold.svg#webfontregular') format('svg');
    font-weight: bold;
    font-style: normal;
}